{{ 'collection-slider.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.js' | asset_url | script_tag }}

{%- liquid 
  assign s = section.settings
-%}

<!-- Slider main container -->
<div class="swiper">
  
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for block in section.blocks %}
      {%- liquid assign b = block.settings -%}

      <div class="swiper-slide" >
          <div class="collection-img-container" style="background-image: url({{ b.collection | image_url  }})">
            <div class="collection-slider-title-wrap">
              <span class="collection-slider-title">{{ b.collection.title }}</span>
            </div>
            <div class="slide__button">
              <a href="{{ b.collection.url }}" class="button button--secondary">Shop Collection</a>
            </div>
          </div>
      </div>
    {% endfor %}  

  </div>

  <!-- If we need navigation buttons -->
  <!-- <div class="swiper-button-prev">&nbsp;</div> -->
  <div class="swiper-button-next">
    <img src={{ 'arrow-circle-right.png' | asset_img_url  }} class="hero-arrow-right-img"/>
  </div>
</div>

<script>
  const swiper = new Swiper('.swiper', {
    slidesPerView: 1,
    spaceBetween: 10,
    loop: true,
    navigation: {
        nextEl: ".swiper-button-next",
        // prevEl: ".swiper-button-prev"
    },
    breakpoints: {
      // 320: {},
      // 480: {},
      768: {
        slidesPerView: 2
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      1400: {
        slidesPerView: 4,
        spaceBetween: 50,
      },
    }
  });
</script>

{% schema %}
{
  "name": "Collections Slider",
  "tag": "section",
   "class": "collection-slider",
   "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ]
}
{% endschema %}
